.back {
    /*background-image: url('./bg3.jpg');
     padding: 30px 20px;*/
    position: relative;
    background-image: linear-gradient(-20deg,black 0%,white 100%);
    background-attachment: fixed;
   background-size:100%;
   
   
}
