.mainpage-play{
    background-color: violet;
}

.questions {
    background-color: transparent;
    height: 800px;
    display: block;
    width: 100%;
    padding-top: 10%;

    h2 {
        color: whitesmoke;
        text-align: center;
        font-weight: lighter;
    }

    .lifeline-container {
        display: flex;
        justify-content: space-between;
    }
    
    .lifeline{
        position: relative;
        top: -3px;
    }

    .timer {
        color:white
    }
    
    h5 {
        color: white;
        font-size: 2rem;
        margin-bottom: $lg;
        line-height: 1.5;
        text-align: center;
    }

    .options-container {
        display: inline-block;
        width: 50%;
    }

    .option {
        background-color: blue;
        border-radius: 30px;
        color: $white;
        cursor: pointer;
        margin: $md auto;
        padding: $normal;
        transition: 0.3s linear all;
        text-align: center;
        width: 90%;
    }

    .option:hover {
        background-color: darken(blue, 20%);
    }
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto $sm auto;
    padding: $md;
    width: 80%;
}

.button-container button {
    border: none;
    color: $off-white;
    cursor: pointer;
    font-family: $quicksand;
    margin-right: $md;
    padding: $xs $sm;
}

.button-container button:first-child {
    background-color: darken(blue, 10%);
    box-shadow: $shadow;
    transition: 0.2s linear all;
}

.button-container button:first-child:hover {
    background-color: darken(blue, 20%);
}

.button-container button:nth-child(2) {
    background-color: green;
    box-shadow: $shadow;
    transition: 0.2s linear all;
}

.button-container button:nth-child(2):hover {
    background-color: darken(green, 10%);
}

.button-container button:last-child {
    background-color: red;
    box-shadow: $shadow;
    transition: 0.2s linear all;
}

.button-container button:last-child:hover {
    background-color: darken(red, 10%);
}